h1 {
  color: white;
  background-color:  #494949;
}
body {
  font-family: Arial;
}
p {
  font-family: Arial;
}
h2 {
  color: white;
  background-color: #595959
}
ol {
  color: white;
  background-color: #626468;
}
