h1 {
  color: white;
  background-color: #626468;
}
body {
  font-family: Arial;
}
p {
  font-family: Arial;
}
h2 {
  color: white;
  background-color: #9a9fa8;
}
ol {
  color: white;
  background-color:  #626468;
}
